<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- 官方推荐使用v-for指令 指定一个属性值key 并且值得内容必须具有唯一性和数字或者字符串 -->
        <ul v-for="(item,index) in list" :key="item.name">
            <li>{{index}}</li>
            <li>{{item.name}}</li>
            <li>{{item.age}}</li>
        </ul>

        <div v-for="(item,key) in list">{{item.name}}----{{item.age}}</div>
    </div>
</body>

<script>
    const app = new Vue({
        el:"#app",
        data:{
          list:[
              {name:"sun",age:18},
              {name:"李四",age:21},
              {name:"王五",age:10}
            ]
        },
        methods:{
           
        }
    })
</script>
</html>